/*-------------- DESKTOP VIEW --------------*/
@media only screen and (min-width: 64em) {


    /*-------------- HEADER --------------*/
    header {

        img {
            padding-bottom: 40px;
            padding-right: 10px;
        }

        h3 {
            margin-top: -10px;
        }

    }

    .navigation {
        box-shadow: none;
    }

    /*-------------- MAIN/BODY --------------*/
    body {
        font-size: 1.05rem;
        background: #fff;
        max-width: 1100px;
        margin: 50px auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
    }

    #currentdate {
        color: #ffffff;
    }


    /*-------------- PROFILE --------------*/
    .margin-profile {
        margin: 270px 0px 0px 0px;
    }

    aside {
        width: 40%;
        padding-right: 0.5rem;
        margin-right: 2rem;
        float: left;
        box-shadow: inset -5px 1px 1px -5px #4c4c4c;
        color: #383838;

        li {
            margin: 0px 10px 0px 10px;
        }

        h2 {
            margin: 20px 10px 0px 10px;
        }

        h4 {
            margin: 10px 10px 0px 10px;
        }

        p {
            margin: 5px 10px 0px 10px;
            font-style: italic;
        }

        div p {
            margin: 8px 10px;
        }
    }

    aside .skills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #profilepage-margin {
        margin: 0px 200px;
    }

    .btn:hover {
        background: #383838;
        text-decoration: underline;
    }

    .margin {
        margin: 400px 0px 0px 0px;
    }


    /*-------------- PORTFOLIO --------------*/
    .portfolio-wrapper {
        margin: -40px 0px 0px 0px;
    }

    .portfolio-item a {
        color: #fff;
    }

    .portfolio {
        margin: 50px 0 80px 0;
    }

    .portfolio .portfolio-item {
        float: left;
    }

    .portfolio .portfolio-item .thumb {
        position: relative;
        display: block;
    }

    .portfolio .portfolio-item .thumb img {
        width: 100%;
        height: auto;
        display: block;
    }

    .portfolio-item:hover {
        transform: scale(1.05);
    }

    .portfolio-hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
    }

    .portfolio-item:hover .portfolio-hover,
    .portfolio-item:hover .portfolio-hover .portfolio-description,
    .portfolio-item:hover .portfolio-hover .action-btn {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .portfolio-item:hover .portfolio-hover .portfolio-description {
        top: 50%;
    }

    .portfolio-hover .portfolio-description {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
        transform: translateY(-55%);
        -webkit-transition: all 0.3s 0.2s;
        transition: all 0.3s 0.2s;
        padding: 10%;
    }

    /*gutter*/
    .portfolio.gutter .portfolio-item {
        padding: 20px;
    }

    /*portfolio 3 grid*/
    .portfolio.col-3 .portfolio-item {
        width: 33.3333333%;
    }

    .portfolio-item {
        background-color: transparent;
        width: 100%;
    }

    .portfolio-item img {
        width: 60%;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
    }


    /*----------------- PORTFOLIO PAGES -----------------*/

    .portfoliopiece-main {
        h2 {
            margin: 0px;
        }

        p {
            margin-top: 0px;
        }

        img {
            border: 1px solid #858585;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .column {
        flex-direction: column;
        margin: 20px 0;

        img {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .imgleft {
        margin-right: 30px;

        img {
            max-width: 30rem;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
        }
    }

    .imgright {
        margin-left: 30px;

        img {
            max-width: 30rem;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
        }

    }

    #disclaimer {
        display: flex;
        font-weight: bold;
    }

/*----------------- LIGHTBOX IMAGES -----------------*/

    // a.lightbox img {
    //     height: 350px;
    //     border: 3px solid white;
    //     box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    //     margin: 20px 10px 20px 0px;
    // }

    // .lightbox-target {
    //     position: fixed;
    //     top: -100%;
    //     width: 100%;
    //     background: rgba(0, 0, 0, .7);
    //     width: 100%;
    //     opacity: 0;
    //     -webkit-transition: opacity .5s ease-in-out;
    //     -moz-transition: opacity .5s ease-in-out;
    //     -o-transition: opacity .5s ease-in-out;
    //     transition: opacity .5s ease-in-out;
    //     overflow: hidden;
    // }

    // .lightbox-target img {
    //     margin: auto;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     max-height: 0%;
    //     max-width: 0%;
    //     border: 3px solid white;
    //     box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    //     box-sizing: border-box;
    //     -webkit-transition: .5s ease-in-out;
    //     -moz-transition: .5s ease-in-out;
    //     -o-transition: .5s ease-in-out;
    //     transition: .5s ease-in-out;
    // }

    // a.lightbox-close {
    //     display: block;
    //     width: 50px;
    //     height: 50px;
    //     box-sizing: border-box;
    //     background: white;
    //     color: black;
    //     text-decoration: none;
    //     position: absolute;
    //     top: -80px;
    //     right: 0;
    //     -webkit-transition: .5s ease-in-out;
    //     -moz-transition: .5s ease-in-out;
    //     -o-transition: .5s ease-in-out;
    //     transition: .5s ease-in-out;
    // }

    // a.lightbox-close:before {
    //     content: "";
    //     display: block;
    //     height: 30px;
    //     width: 1px;
    //     background: black;
    //     position: absolute;
    //     left: 26px;
    //     top: 10px;
    //     -webkit-transform: rotate(45deg);
    //     -moz-transform: rotate(45deg);
    //     -o-transform: rotate(45deg);
    //     transform: rotate(45deg);
    // }

    // a.lightbox-close:after {
    //     content: "";
    //     display: block;
    //     height: 30px;
    //     width: 1px;
    //     background: black;
    //     position: absolute;
    //     left: 26px;
    //     top: 10px;
    //     -webkit-transform: rotate(-45deg);
    //     -moz-transform: rotate(-45deg);
    //     -o-transform: rotate(-45deg);
    //     transform: rotate(-45deg);
    // }

    // .lightbox-target:target {
    //     opacity: 1;
    //     top: 0;
    //     bottom: 0;
    //     right: 0;
    //     left: 0;
    // }

    // .lightbox-target:target img {
    //     max-height: 90%;
    //     max-width: 90%;
    // }

    // .lightbox-target:target a.lightbox-close {
    //     top: 0px;
    // }

    .projectimgs {
            display: flex;
        flex-flow: wrap;
        justify-content: space-between;

        img {
            //height: 350px;
            max-height: 100%;
            width: auto;
        }
    }



}

// DESKTOP CLOSING TAG - DO NOT DELETE